In [1]:
import pandas as pd
import numpy as np

In [3]:
train = pd.read_csv("train.csv")
train["Semana"] = train["Semana"].astype("category")
train["Agencia_ID"] = train["Agencia_ID"].astype("category")
train["Canal_ID"] = train["Canal_ID"].astype("category")
train["Ruta_SAK"] = train["Ruta_SAK"].astype("category")
train["Cliente_ID"] = train["Cliente_ID"].astype("category")
train["Producto_ID"] = train["Producto_ID"].astype("category")
train.describe(include = 'all')

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil
count,74180464.0,74180464.0,74180464.0,74180464.0,74180464.0,74180464.0,7.418046e+07,7.418046e+07,7.418046e+07,7.418046e+07,7.418046e+07
unique,7.0,552.0,9.0,3603.0,880604.0,1799.0,NaN,NaN,NaN,NaN,NaN
top,3.0,1911.0,1.0,1201.0,653378.0,1240.0,NaN,NaN,NaN,NaN,NaN
freq,11165207.0,806283.0,67435217.0,461918.0,124059.0,2146655.0,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,7.310163e+00,6.854452e+01,1.302577e-01,1.243248e+00,7.224564e+00
std,NaN,NaN,NaN,NaN,NaN,NaN,2.196734e+01,3.389795e+02,2.932320e+01,3.921552e+01,2.177119e+01
min,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,NaN,NaN,NaN,NaN,NaN,NaN,2.000000e+00,1.676000e+01,0.000000e+00,0.000000e+00,2.000000e+00
50%,NaN,NaN,NaN,NaN,NaN,NaN,3.000000e+00,3.000000e+01,0.000000e+00,0.000000e+00,3.000000e+00
75%,NaN,NaN,NaN,NaN,NaN,NaN,7.000000e+00,5.610000e+01,0.000000e+00,0.000000e+00,6.000000e+00
max,NaN,NaN,NaN,NaN,NaN,NaN,7.200000e+03,6.473600e+05,2.500000e+05,1.307600e+05,5.000000e+03

In [7]:
test = pd.read_csv("test.csv")
test["Semana"] = test["Semana"].astype("category")
test["Agencia_ID"] = test["Agencia_ID"].astype("category")
test["Canal_ID"] = test["Canal_ID"].astype("category")
test["Ruta_SAK"] = test["Ruta_SAK"].astype("category")
test["Cliente_ID"] = test["Cliente_ID"].astype("category")
test["Producto_ID"] = test["Producto_ID"].astype("category")
test.describe(include = 'all')

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID
count,6.999251e+06,6999251.0,6999251.0,6999251.0,6999251.0,6999251.0,6999251.0
unique,NaN,2.0,552.0,9.0,2608.0,745164.0,1522.0
top,NaN,10.0,1911.0,1.0,1201.0,653378.0,2233.0
freq,NaN,3538385.0,74291.0,6344202.0,41192.0,11088.0,189420.0
mean,3.499625e+06,NaN,NaN,NaN,NaN,NaN,NaN
std,2.020510e+06,NaN,NaN,NaN,NaN,NaN,NaN
min,0.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN
25%,1.749812e+06,NaN,NaN,NaN,NaN,NaN,NaN
50%,3.499625e+06,NaN,NaN,NaN,NaN,NaN,NaN
75%,5.249438e+06,NaN,NaN,NaN,NaN,NaN,NaN
max,6.999250e+06,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
train.to_pickle("train.pickle")
test.to_pickle("test.pickle")

In [11]:
train["Semana"].value_counts()

3    11165207
4    11009593
5    10615397
9    10408713
8    10406868
7    10382849
6    10191837
dtype: int64

In [6]:
df = train.sample(10000)