In [2]:
%matplotlib inline

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
train = pd.read_pickle('train.pickle')
test = pd.read_pickle('test.pickle')

In [9]:
train.describe(include = 'all')

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil
count,74180464.0,74180464.0,74180464.0,74180464.0,74180464.0,74180464.0,7.418046e+07,7.418046e+07,7.418046e+07,7.418046e+07,7.418046e+07
unique,7.0,552.0,9.0,3603.0,880604.0,1799.0,NaN,NaN,NaN,NaN,NaN
top,3.0,1911.0,1.0,1201.0,653378.0,1240.0,NaN,NaN,NaN,NaN,NaN
freq,11165207.0,806283.0,67435217.0,461918.0,124059.0,2146655.0,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,7.310163e+00,6.854452e+01,1.302577e-01,1.243248e+00,7.224564e+00
std,NaN,NaN,NaN,NaN,NaN,NaN,2.196734e+01,3.389795e+02,2.932320e+01,3.921552e+01,2.177119e+01
min,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,NaN,NaN,NaN,NaN,NaN,NaN,2.000000e+00,1.676000e+01,0.000000e+00,0.000000e+00,2.000000e+00
50%,NaN,NaN,NaN,NaN,NaN,NaN,3.000000e+00,3.000000e+01,0.000000e+00,0.000000e+00,3.000000e+00
75%,NaN,NaN,NaN,NaN,NaN,NaN,7.000000e+00,5.610000e+01,0.000000e+00,0.000000e+00,6.000000e+00
max,NaN,NaN,NaN,NaN,NaN,NaN,7.200000e+03,6.473600e+05,2.500000e+05,1.307600e+05,5.000000e+03

In [8]:
test.describe(include = 'all')

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID
count,6.999251e+06,6999251.0,6999251.0,6999251.0,6999251.0,6999251.0,6999251.0
unique,NaN,2.0,552.0,9.0,2608.0,745164.0,1522.0
top,NaN,10.0,1911.0,1.0,1201.0,653378.0,2233.0
freq,NaN,3538385.0,74291.0,6344202.0,41192.0,11088.0,189420.0
mean,3.499625e+06,NaN,NaN,NaN,NaN,NaN,NaN
std,2.020510e+06,NaN,NaN,NaN,NaN,NaN,NaN
min,0.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN
25%,1.749812e+06,NaN,NaN,NaN,NaN,NaN,NaN
50%,3.499625e+06,NaN,NaN,NaN,NaN,NaN,NaN
75%,5.249438e+06,NaN,NaN,NaN,NaN,NaN,NaN
max,6.999250e+06,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
train["Demanda_uni_equil"] = train["Demanda_uni_equil"].astype("int32")
train["Venta_uni_hoy"] = train["Venta_uni_hoy"].astype("int32")
train["Dev_uni_proxima"] = train["Dev_uni_proxima"].astype("int32")
train["Semana"] = train["Semana"].astype("int32")
train["Venta_hoy"] = train["Venta_hoy"].astype('float32')
train["Dev_proxima"] = train["Dev_proxima"].astype('float32')

In [23]:
test["Semana"] = test["Semana"].astype("int32")
test["id"] = test["id"].astype("int32")

In [24]:
test.set_index(["id"])

         Semana Agencia_ID Canal_ID Ruta_SAK Cliente_ID Producto_ID
id
0            11       4037        1     2209    4639078       35305
1            11       2237        1     1226    4705135        1238
2            10       2045        1     2831    4549769       32940
3            11       1227        1     4448    4717855       43066
4            11       1219        1     1130     966351        1277
5            11       1146        4     6601    1741414         972
6            11       2057        1     4507    4659766        1232
7            10       1612        1     2837    4414012       35305
8            10       1349        1     1223     397854        1240
9            11       1461        1     1203    1646915       43203
10           11       1124        1     1118    4555688        1278
11           10       1336        1     1069    4387996        2233
12           11       1239        1     1125     290608        4270
13           10       1217        1     1143    4446449        1240
14           10       1312        1     2056      69110       43274
15           11       1227        1     2115    1034925       37361
16           11       2071        1     1203      91580       43200
17           11       3211        1     1016     325074        1150
18           10       1629        1     1612    2325923        4270
19           11      23719        1     2813    4752270       35456
20           11       1347        1     2153    2257091       30552
21           11       2653        1     1048    5885765        1125
22           10       1477        4     4714    4670562       35525
23           11       1232        1     1211     245366        1150
24           11       2216        1     1151    2197573        1232
25           11       1227        1     2822    3342223       43285
26           10       3214        1     1627    4721398       36920
27           11       1420        1     2134    1500391       37361
28           11       1137        1     1064    4461695        2233
29           11       2012        1     1158    1485041       41938
...         ...        ...      ...      ...        ...         ...
6999221      11       1613        1     1024    2392365        1109
6999222      10       1552        1     2003      31357       43084
6999223      10       1557        1     1026    1951715       31393
6999224      11       2032        1     2056     241145       43316
6999225      10       1137        1     1470     260348       35651
6999226      11       1245        1     2804    1419434       35305
6999227      11       3215        1     4459      58834       43069
6999228      10       1215        1     1605    2379288       31719
6999229      10       4051        1     1106     122768       43202
6999230      11       2031        1     1051    4477847        1146
6999231      11       1636        1     1101    1740273        1230
6999232      10       1223        1     1257     939061        1242
6999233      10       2016        1     1316    1345165        1220
6999234      11       4049        1     1141    1067683       37403
6999235      11       2032        1     1155     241197       35651
6999236      11      24049        1     4502    4416986        2233
6999237      10       1618        1     4416    2447781       43215
6999238      10       1336        1     2106    1203863       37361
6999239      11       1427        1     2801    1373090       43307
6999240      11       1620        1     1242    1611046        1230
6999241      10       1378        1     1265    2021090        1212
6999242      10       1338        1     1201     789056        1146
6999243      11       1631        1     2806    1526987       43285
6999244      11       1420        1     1119    1621931       43206
6999245      10       1333       11     3905    1905253       35305
6999246      11       2057        1     1153    4379638        1232
6999247      10       1334        1     2008     970421       43069
6999248      11       1622        1     2869     192749       30532
6999249      11       1636        1     4401     286071       35107
6999250      11       1625        1     1259     978760        1232

[6999251 rows x 6 columns]

In [22]:
train.describe()

,Semana,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil
count,7.418046e+07,7.418046e+07,7.418046e+07,7.418046e+07,7.418046e+07,7.418046e+07
mean,5.950021e+00,7.310163e+00,6.854452e+01,1.302577e-01,1.243248e+00,7.224564e+00
std,2.013175e+00,2.196734e+01,3.389795e+02,2.932320e+01,3.921552e+01,2.177119e+01
min,3.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,4.000000e+00,2.000000e+00,1.676000e+01,0.000000e+00,0.000000e+00,2.000000e+00
50%,6.000000e+00,3.000000e+00,3.000000e+01,0.000000e+00,0.000000e+00,3.000000e+00
75%,8.000000e+00,7.000000e+00,5.610000e+01,0.000000e+00,0.000000e+00,6.000000e+00
max,9.000000e+00,7.200000e+03,6.473600e+05,2.500000e+05,1.307600e+05,5.000000e+03

In [25]:
train.to_pickle("train.pickle")
test.to_pickle("test.pickle")